.header__link{
    line-height: 25px;
    font-size: 18px;
    font-weight: 400;
    color: #2f80ed;
    text-decoration: none;
    opacity: 1;
    transition: all 0.5s;
  }
 .header__link:hover{
    transition: all 0.5s;
    opacity: 0.5;
  }
